<div class="orthogon barcode selected" style="position:absolute; text-align: center; vertical-align: middle;">
    <i class="up-left stretch-corner"></i>
    <i class="up-middle vertical"></i>
    <i class="up-right stretch-corner"></i>
    <i class="right-middle horizontal"></i>
    <i class="down-left stretch-corner"></i>
    <i class="down-middle vertical"></i>
    <i class="down-right stretch-corner"></i>
    <i class="left-middle horizontal"></i>
    <img src="/barbecue/barcode?data={{name}}&width={{width}}&height={{height}}&type={{type}}" data-type={{type}} data-width={{width}} data-height={{height}} alt="{{name}}" style="max-width:100%; max-height:100%;"><span style="
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	"></span>
</div>